

.header {
    padding-top: 11px;
    padding-bottom: 50px;
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/bg-main.webp');
    background-size: cover;
    background-position: center;
    color: $base-color;
}

.header__wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    color: $base-color;
    padding-bottom: 15px;
}

.header__logo {
    display: block;
    @include col();
    @include size(2);
    width: 170px;
    height: 35px;

}

.header__info {
    font-family: 'MuseoSansCyrl-500';
    color: $base-color;
    @include col();
    @include size(4);
    font-size: 16px;
    margin-top: 0;
    margin-left: 12px;
}

.header__tel {
    font-family: 'MuseoSansCyrl-900';
    color: $base-color;
    @include col();
    @include size(3);
    text-align: right;
    font-size: 24px;
    margin-top: 10px;
    text-decoration: none;

}

.header__button {
    width: 270px;
    height: 55px;
    background-color: inherit;
    border: 2px $base-color solid;
    border-radius: 26px;
    color: $base-color;
    font-family: 'MuseoSansCyrl-500';
    font-size: 16px;
    margin-left: 15px;

}

.header__main {
    // @include row-flex();
    display: flex;
    justify-content: space-between;
    position: relative;
}

.titles {  
    margin-left: -10px;
    @include size(8);
}

.header__title {
    padding-bottom: 20px;
    font-size: 60px;
    font-family: "MuseoSansCyrl-700";
    color: $base-color; 
    line-height: 1; 
}

.header__subtitle {
    margin-top: 10px;
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    color: $base-color;
}

.menu {
    margin-top: 10px;
}

.menu__list {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.menu__item {
    text-align: right;   
    padding-top: 9px;
    padding-bottom: 9px; 
}

.menu__link {
    display: block;
    text-decoration: none;
    color: $base-color;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl-900';
    font-size: 14px;
}

.short-info {
    display: flex;
    // @include col();
    // @include size(8);
    padding-top: 45px; 
    padding-bottom: 60px; 
}

.short-info__item {
    font-size: 18px;
    font-family: "MuseoSansCyrl-900";
    color: $second-color;
    line-height: 1.556; 
    max-width: 250px;
    margin-right: 33px;

    &--middle {
        max-width: 200px;
        margin-right: 45px;
    }

    &::before {
        content: ' ';
        display: block;
        background-position: center;
        background-size: cover;
        width: 55px;
        height: 55px;
        margin-bottom: 15px;
    }
    
    &:last-child {
        margin: 0;
    }
}

.icon1::before {
    background-image: url("../img/svg/icon1.svg");
}

.icon2::before {
    background-image: url("../img/icon2.png");
    
}

.icon3::before {
    background-image: url("../img/icon3.png");
}

.wrapper {
    width: 1200px;
    padding: 30px;
    margin: 0 auto;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba( 124, 118, 152, 1) 58%, rgba( 255, 242, 227, 1) 100%);
    box-shadow: 0px 8px 18px 0px rgba(226, 226, 226, 0.98);
       
}

.header__text {
    font-size: 24px;
    font-family: "MuseoSansCyrl-500";
    color: #fff;
    width: 700px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 25px;

    span {
        font-family: "MuseoSansCyrl-900";
    }
}

.form {
    display: flex;
    justify-content: space-around;
}

.form input {
   
    border-radius: 27px;
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 60px;
    border: none;
    color: #2d2d2d;
    font-family: "MuseoSansCyrl-500";
    font-size: 16px;
}

.form input[type=text],
.form input[type=tel],
.form input[type=email] {
    padding-left: 20px;
}

.form input[type=submit] {
    background-color: #5d25a3;
    color: #fff;
}

.girl {
    position: absolute;
    background-image: url(../img/girl.png);
    left: 63%;
    top: 62px;
    width: 300px;
    height: 500px;
    z-index: 0;
    background-repeat: no-repeat;
}